* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bd8216;
}

.container {
    width: 60%;
    height: 100px;
    margin: 0 auto;
}

.images {
    text-align: center;
}

.images img {
    width: 300px;
    padding: 10px;
}

.input {
    text-align: center;
    cursor: pointer;
}

.todoList ul {
    list-style: none;
}

.todoList ul li {
    display: flex;
    justify-content: space-around;
}