* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bd8216;
}

.container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

.logo {
    text-align: center;
}

.logo img {
    width: 300px;
    padding: 10px;
}

.new-todo {
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.new-todo h4 {
    color: brown;
    margin-bottom: 20px;
}

.todoList ul {
    list-style: none;
}

.todoList ul li {
    display: flex;
    justify-content: space-around;
}