<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <link rel="stylesheet" href="asset/css/style.css">
    <title>Vue todolist</title>
</head>

<body>
    <div id="app" class="container">
        <div class="logo">
            <img src="asset/img/logo.png" alt="">
        </div>
        <div class="new-todo">
            <h4 v-if="alertActive">
                attenzione inserire un testo più lungo!!
            </h4>
            <input type="text" v-model="strTodo" placeholder="Nuovo Todo">
            <button @click="addTodo">aggiungi</button>
        </div>

        <div class="todoList">
            <ul>
                <li v-for="(todo, index) in todos" :class="(todo.checked) ? 'checked' : 'null' " :style="(index ===todos.length -1 ) ? 'border:none' : null " @click="todo.checked = !todo.checked">

                    {{todo.todo}}

                    <i @click.stop="removeTodo(index)" class="fas fa-times"></i>
                </li>

            </ul>

        </div>



    </div>




    <script src="asset/js/script.js"></script>


</body>

</html>